html,
body {
  background-color: #e3ecfe;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #273b73;
  text-decoration: underline;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 30px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

.content {
  display: flex;
}

header {
  display: flex;
  padding: 0px 10px 5px 10px;
  justify-content: space-between;
  color: #273b73;
}

.errorcard {
  max-width: 400px;
  margin: 10px auto 0 auto;
  background-color: #fab8b7;
  color: rgb(131, 0, 0);
  border-radius: 4px;
  padding: 6px 10px;
  max-width: 300px;
}

.card {
  max-width: 360px;
  margin: 40px auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  color: #273b73;
  background-color: #fff;
  border: 0px solid #5882fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.form {
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

/* .form label {
  text-align: left;
  display: block;
}

.form input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
} */

.button {
  background: #273b73;
  color: #efefef;
  border: 0;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background: #4163bf;
}

.smalltext {
  color: #808080;
  font-size: small;
}
