.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
}

.li a {
  display: block;
  color: #248df4;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.li a:hover {
  background-color: #248df4;
  color: white;
}

.container {
  padding: 0 2rem;
}

.containerclasses {
  align-content: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.containercharts {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.maincontainer {
  align-content: flex-start;
  width: 90%;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.secondarycard {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  text-align: center;
  color: #273b73;
  background-color: #fff;
  border: 0px solid #5882fa;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  align-items: center;
}

.studentcontainer {
  height: 400px;
  overflow-y: scroll;
}

.maincard {
  margin: 10px;
  padding: 20px;
  text-align: left;
  color: #273b73;
  background-color: #fff;
  border: 0px solid #5882fa;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.maincard h3 {
  text-align: center;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
