.containerstudents {
  align-content: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  height: 400px;
  width: 800px;
  overflow-y: scroll;
}

.card {
  border: 2px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 5px;
  width: 230px;
  text-align: left;
}

.card a:hover {
  text-decoration-line: none;
}

.card .title {
  color: #124375;
  padding: 0px 10px;
  display: flex;
  font-weight: 500;
  width: 220px;
  font-size: 0.9em;
}

.card .content {
  color: #373737;
  padding: 2px;
}

.card .content p {
  text-indent: 15px;
  font-size: 0.8em;
  margin-top: 0px;
  margin-bottom: 3px;
}

.card:hover,
.card:focus,
.card:active {
  border: 2px solid #124375;
}
